{% extends 'base.html' %}

{% block content %} 
    <header>GreenMerlion.AI</header>
    <div class="dashboard-container">
        <div class="dashboard-header">
            <div class="custom-dropdown">
                <select onchange="navigateTo(this.value)">
                    <option value="dashboard">Dashboard</option>
                    <option value="chatbot">Chatbot</option>
                </select>
            </div>
        </div>
        <div class="dashboard">
            <div class="left-column">
                <div class="box">
                    <h2>Total Points</h2>
                    <h1>{{ point }}</h1>
                </div>
                <div class="box">
                    <h2>Total Objects Detected</h2>
                    <ul>
                        {% for cat in cat_info %}
                        <li>{{ cat[2] }} | {{ cat[3] }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="box redeem-prize">
                    <h2>Redeem Prizes</h2>
                    <img src="static/ntuc_fairprice_voucher.jpg" alt="Fairprice Prize">
                    <button>Claim</button>
                </div>
            </div>
            <div class="right-column">
                <div class="large-box">
                    <h2>Last Detected Object</h2>
                    <div class="image-container">
                        {% for hist in history_info %}
                        <img src="/image/{{ hist[0] }}" class="detected-image" alt="Last Detected Object">
                        {% endfor %}
                    </div>
                </div>
                
                </div>
            </div>
        </div>
    </div>  
{% endblock %}