{% extends 'base.html' %}

{% block additional_css_content %}

<style>
    body {
        font-family: Arial, sans-serif;
        background-image: url('/static/login/green.png');
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
</style>

{% endblock %}

{% block content %} 
    <div class="login-container">
        <h1>Sign in to Recycling App</h1>
        <img src="/static/login/recycle.png" alt="Recycling App Logo" width="100" height="100">

        <form method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required/>
            </div>

            <input type="submit" value="Login" class="login-button"/>
        </form>

        <div class="login-error">
            <p>{{ status }}</p>
        </div>

        <div class="additional-links">
            <a href="/signup" id="signup" onclick="signup_click()">Don't have an account? Sign Up</a>
        </div>
    </div>

    <script>
        function signup_click() {
            let current_url = window.location.href
            let url_list = current_url.split('?')

            if (url_list.length == 2) {
                let query_parms = url_list[1]

                url_string = "/signup?" + query_parms 
                console.log(url_string)
                document.getElementById('signup').href = url_string
            }
        }
    </script>
{% endblock %}